<html>
    <head>
        <title>Sports Facts</title>
    </head>
    <body>
        <h1>Sports Facts</h1>
        <h2>NBA Fact</h2>
        <p>
            <%= nba %>.
        </p>
        <h2>MMA Fact</h2>
        <p>
            <%= mma %>.
        </p>
    </body>
</html>